.Contact-container {
    background-color: black;
    background-image: url('/public/fotos/40.jpg');
    background-repeat: no-repeat;
    background-size: 152%;
    background-position-y: -273px;
    background-position-x: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Contact {
    background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.4));
    width: 905px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Title-contact {
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    top: 180px;
    left: 180px;
    color: white;
    font-family: 'Urbanist-Bold';
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.Contact-linea {
    display: flex;
    align-items: center;
    position: relative;
    top: 180px;
    margin-bottom: 70px;
    left: 180px;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.Contact-emoji {
    cursor: pointer;
    width: 70px;
    height: auto;
}

.Contact-letra {
    display: flex;
    text-align: center;
    font-family: 'Urbanist-ExtraLight';
    font-size: 1.3rem;
    letter-spacing: 0.18rem;
    color: white;
    justify-content: left;
    margin-left: 65px;
    align-items: center;
    width: 50%;
    height: auto;
}