.contenido {
    width: 50%;
    height: auto;
}

.contenedor-boton {
    width: 100%;
    height: 18%;
    overflow-y: auto;
    display: flex;
    align-items: flex-end;
}

.contenedor-contenido {
    background-color: brown;
    width: 100%;
    height: 100%;
}