.Contact-container {
    background-color: black;
    background-image: url('/public/fotos/40.jpg');
    background-repeat: no-repeat;
    background-size: 152%;
    background-position-y: -273px;
    background-position-x: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Contact {
    background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.4));
    width: 905px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Title-contact {
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    top: 180px;
    left: 180px;
    color: white;
    font-family: 'Urbanist-Bold';
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.Contact-linea {
    display: flex;
    align-items: center;
    position: relative;
    top: 180px;
    margin-bottom: 70px;
    left: 180px;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.Contact-emoji {
    cursor: pointer;
    width: 70px;
    height: auto;
}

.Contact-letra {
    display: flex;
    text-align: center;
    font-family: 'Urbanist-ExtraLight';
    font-size: 1.3rem;
    letter-spacing: 0.18rem;
    color: white;
    justify-content: left;
    margin-left: 65px;
    align-items: center;
    width: 50%;
    height: auto;
}

.foto-final-movil {
    background-image: none;
}



@media (max-width:768px) {
    .Contact-container {
        background-color: rgb(44, 38, 38);
        background-image: none;
        background-repeat: no-repeat;
        background-size: 0;
        background-position-y: 0;
        background-position-x: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .Contact {
        background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.4));
        width: 100%;
        padding-bottom: 3vw;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .Title-contact {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: none;
        top: 0;
        left: 0;
        color: white;
        font-family: 'Urbanist-Bold';
        font-size: 12vw;
        letter-spacing: 0.3rem;
    }

    .Contact-linea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        padding-bottom: 0;
        left: 0;
        width: auto;
        height: auto;
    }

    .Contact-emoji {
        cursor: pointer;
        width: 10vw;
        max-width: 70px;
        height: auto;
    }

    .Contact-letra {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Urbanist-ExtraLight';
        font-size: 4vw;
        letter-spacing: 0.18rem;
        color: white;
        margin-left: 0;
        width: auto;
        height: auto;
        padding-top: 5vw;
    }

    .foto-final-movil {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .Sentence_block {
        width: 100vw;
        min-height: 100px;
        height: auto;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .Sentence {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 5px;
        color: white;
        font-family: 'Urbanist-semibold';
        font-size: 1em;
        letter-spacing: 3.5px;
        z-index: 3;
    }

    
}