.First_sentence_block {
    background-color: rgb(228, 220, 220);
    width: 100vw;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.First_sentence {
    width: 50vw;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Urbanist-semibold';
    font-size: 23px;
    letter-spacing: .4rem;
}