.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: 'Urbanist-semibold';
    font-size: 10vw;
}

.Cover {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

.video-background-pc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-background-mobile {
    display: none;
}

.First_sentence_block {
    width: 100vw;
    min-height: 9vw;
    height: auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.First_sentence {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px;
    color: white;
    font-family: 'Urbanist-semibold';
    font-size: 1.7vw;
    letter-spacing: 3.5px;
}


@media (max-width:768px) {

    .Cover {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
    }

    .video-background-pc {
        display: none;
    }

    .video-background-mobile {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .First_sentence_block {
        width: 100vw;
        min-height: 100px;
        height: auto;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .First_sentence {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 5px;
        color: white;
        font-family: 'Urbanist-semibold';
        font-size: 1em;
        letter-spacing: 3.5px;
    }

}