.Media {
    background-image: url('/public/fotos/25.JPG');
    vertical-align: top;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 200vh;
    background-size: contain;
}