.music-player {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background: linear-gradient(to bottom right, #1b5e0a, #28e522);
  border: 1px solid #010101;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  cursor: grab;
  width: 250px;
  box-shadow: 2px 2px 4px rgba(154, 159, 10, 0.9),
    2px -2px 4px rgba(154, 159, 10, 0.9),
    -2px -2px 4px rgba(154, 159, 10, 0.9),
    -2px 2px 4px rgba(154, 159, 10, 0.9);
}

.music-player .controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.music-player button {
  /* Estilos para el botón del reproductor */
  background-color: #ffffff;
  color: #246a0c;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
  /* Espacio entre los botones */
}

.music-player button:hover {
  background-color: #2980b9;
}

.music-player button:focus {
  outline: none;
}

.music-player .song-info {
  margin-top: 10px;
  text-align: center;
}