.Service-container {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.Title-service {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Urbanist-Bold';
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.container-card {
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card {
    position: relative;
    top: 0;
    min-width: 359px;
    max-width: 359px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 45px;
    margin-left: 45px;
}

.card-image {
    width: 100%;
    height: 239px;
}

.card-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.card-text {
    position: relative;
    top: 0;
    width: 100%;
    height: 348px;
    background-color: white;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-card {
    font-family: 'Urbanist-Bold';
    font-size: 1.5rem;
    margin-left: 50px;
    display: flex;
    padding-top: 25px;
}

.into-card {
    width: 280px;
    font-family: 'Urbanist-Regular';
    font-size: 1rem;
    display: flex;
    margin-left: 24px;
}