
.Service-container{
    background-color: black;
    width: 100vw;
    height: 100vh;
}
.Title-service{
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Urbanist-Bold';
    font-size: 3rem;
    letter-spacing: 0.3rem;
} 
.container-card{
    width: auto;
    height: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;
}

.card {
    background-color: blue;
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image{
    width: 400px;
    height: 300px;
}

.card-image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card-text{
    position: relative;
    top: 0;
    width: 400px;
    height: 330px;
    background-color: aqua;
    padding:0;
    margin: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}