.slider-container-video {
    margin-left: 6rem;
    margin-right: 6rem;
    overflow-x: hidden;
    height: 98vh;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0px 5px 10px black;
}

.slider-video {
    align-items: center;
    justify-content: center;
    cursor: grab;
    display: flex;
    flex-direction: row;
}

.item-video {
    align-items: center;
    justify-content: center;
    cursor: grab;
    display: flex;
    flex-direction: row;
    height: 100%;
}


.item-video video {
    box-shadow: 3px black;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    pointer-events: none;

}