.slider-container-video {
    background-color: rgb(255, 228, 196, 0.3);
    display: flex;
    align-items: center;
    margin-left: 6rem;
    margin-right: 6rem;
    height: 97vh;
    overflow-x: hidden;
    border: 3px solid rgb(0, 0, 0);
}

.slider-video {
    align-items: center;
    width: auto;
    height: 100%;
    display: flex;
    cursor: grab;
}

.item-video {
    padding: 2rem;

}