.Toolbar {
    display: flex;
    position: fixed;
    min-width: 100vw;
    height: 100px;
    border-bottom: none;
    transition: background-color 0.3s, border-bottom 0.3s;
    top: 0;
    z-index: 999;
}